/* https://getcssscan.com/css-buttons-examples (button style) */
/* Lengths */
$vertical-rule-left = 100px;
$vertical-rule-phone = 100px;
$top-of-page = 40px;
$bottom-of-page = 45px;
$space-between-pages = 32px;

/* Colour scheme 2 */
$theme-background = #FAF9F6;
$theme-black = #181718;
$theme-beige= #EBE7DA;
$theme-dark-ish = #4e535c;
$theme-grey-ish = #393E46;
$theme-brown = #948979;
$theme-white-calm = #e5e5e5;

$grid-breakpoint-xs = 0;
$grid-breakpoint-sm = 576px;
$grid-breakpoint-md = 768px;
$grid-breakpoint-lg = 992px;
$grid-breakpoint-xl = 1200px;
$grid-breakpoint-xxl = 1400px;
$grid-breakpoint-3xl = 2000px;

// Fonts 

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

// Global styles

.newlines {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: $vertical-rule-left;
  flex: 1 1 100%;
  flex-grow: 1;
  font-size: 20px;

  p {
	padding: 0;
	margin: 0;
  }

  .top-spacer {
	margin-top: $top-of-page;
  }
}

.nick-button {
  /* Button style */
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: $theme-grey-ish;
  background-color: $theme-white;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 40px;
  min-width: fit-content;
}

button:active {
  box-shadow: 0 0 0 0;
  top: 5px;
  left: 5px;
}

/* Forms */
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blog-form {
  width: fit-content;
  height: fit-content;
  background: $theme-white;
  position: relative;
  display: inline-flex;
  box-shadow: 2px 2px 10px 0 rgba(33, 33, 33, 0.2);
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 20px;
}

input,
textarea {
  width: 90%;
  margin-top: 30px;
  border: 0;
  border-bottom: 1px solid $theme-grey-ish;
  font-size: 13px;
  color: $theme-grey-ish;
  letter-spacing: 0.11em;
  background: $theme-white;


  &::placeholder {
    color: $theme-grey-ish;
    font-size: 14px;
  }

  &:focus {
    outline: 0;
    border-bottom: 2px solid;
  }

}

/* Nav Links */
.navbar-links {
  color: $theme-white-calm;
}


/* Paper Text */
.title {
	line-height: 55px;
	font-size: 45px;
	margin-bottom: 0;
}

.blank-line {
	height: 32px;
}

p {
	margin: 0;
}

/* Phone specific css can go under this */
@media (max-width: $grid-breakpoint-sm) {
  button {
    padding: 0.25em 0.75em;
  }

  .newlines {
	  padding-left: 0;
  }
}

/* Tablet / browser specific css can go under this */
@media (max-width: $grid-breakpoint-md) {
  .newlines {
    height: 100vh;
    padding-top: 30px;
  }

  .main-content {
    justify-content: center;
  }
}
